<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzxcompany.androidstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListView.ListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".TestDemo.PokerActivity" />
        <activity android:name=".TestDemo.Calculator2Activity" />
        <activity android:name=".TestDemo.Calculator1Activity" />
        <activity android:name=".OtherView.ThirdActivity" />
        <activity android:name=".RelativeLayout.SecondActivity" />
        <activity android:name=".LinearLayout.FirstActivity" />
        <activity android:name=".OtherView.ImageViewActivity" />
        <activity android:name=".OtherView.RadioButtonActivity" />
        <activity android:name=".OtherView.CheckBoxActivity" />
        <activity android:name=".TestIntentActivity">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MyCategory" />
            </intent-filter>
        </activity>
        <activity android:name=".OtherView.MarqueenActivity" />
        <activity android:name=".RelativeLayout.RegisteredActivity" />
        <activity android:name=".RelativeLayout.EditTestActivity" />
        <activity android:name=".RelativeLayout.RelativeLayoutActivity" />
        <activity android:name=".LinearLayout.WeightActivity" />
        <activity android:name=".LinearLayout.VerticalActivity" />
        <activity android:name=".LinearLayout.HorizontalActivity" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>